.featured-product .product__media-list {
  width: 100%;
  margin: 0;
  padding-bottom: 0;
}

.featured-product .global-media-settings:after {
  z-index: 0;
}

.featured-product .product__modal-opener {
  margin-bottom: var(--media-shadow-vertical-offset);
}

.featured-product .product__media-item {
  padding-left: 0;
  width: 100%;
}

.featured-product .product__media-item:not(:first-child) {
  display: none;
}

.background-secondary .featured-product {
  padding: 2.5rem;
}

.featured-product .share-button:nth-last-child(2) {
  display: inline-flex;
}

.share-button + .product__view-details {
  display: inline-flex;
  float: right;
  align-items: center;
}

.share-button + .product__view-details::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (min-width: 750px) {
  .featured-product .product__media-item {
    padding-bottom: 0;
  }

  .background-secondary .featured-product {
    padding: 5rem;
  }
}

@media screen and (min-width: 990px) {
  .background-secondary .featured-product:not(.product--no-media) > .product__info-wrapper {
    padding: 0 0 0 5rem;
  }

  .featured-product:not(.product--no-media) > .product__info-wrapper {
    padding: 4rem 5rem 0rem 5rem;
  }

  .background-secondary .featured-product {
    padding: 6rem 7rem;
    position: relative;
    z-index: 1;
  }
}

.product__info-wrapper .product__title {
  line-height: 4rem;
}

@media screen and (max-width: 749px){
  .product__info-wrapper {
    padding: 0px 15px;
  }

  .product__modal-opener .product__media {
    padding-top: 0 !important;
  }
}


.description-wrapper {
  background-color: #f9f9f9;
  padding: 20px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.2rem;
  color: #636366;
}

.description-title {
  font-size: 16px;
  font-weight: bold;
  color:black;
}

.description-text{
  margin: 10px 0 15px 0;
}

.product__info-container variant-radios {
  margin-top: 0 !important;
}

.product__info-container #price-template--16233731850473__1657528582e845aefa {
margin-bottom: 0;
}

.product__info-container .product-form__input {
 display: flex;
 flex-direction: column;
}

@media screen and (min-width: 989px) {
  .product__info-container {
    position: sticky;
    top: 70px;
    padding-bottom: 20px;
  }
}